    </main>
    <footer class="footer">
      <div>
        &copy; 2026 Paco Lara
      </div>
    </footer>
    <script defer src="/assets/scripts/client-smart-search.js"></script>
  </body>
</html>

