    </main>
    <footer class="footer">
      <div>
        &copy; 2026 Paco Lara
        <br />
        <a href="mailto:paco.lara@gemavip.com">paco.lara@gemavip.com</a>
        |
        <a href="https://wa.me/34610721369" target="_blank" rel="noopener noreferrer">WhatsApp: +34 610 721 369</a>
      </div>
    </footer>
    <script defer src="/assets/scripts/client-smart-search.js"></script>
  </body>
</html>

